{% load static %}
<!DOCTYPE html>
<html lang = "ru">
    <head>
        <link rel="icon" href= {% static 'visitka/favicon.ico' %}><!-- 32×32 -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PocketDung</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = {% static 'visitka/style.css' %} type = "text/css">
    </head>
    <body>
        <div class="info-card">
            <h1 class="game-name">PocketDung</h1>
            <h2 class="game-discription">пошаговая Roguelike RPG в загробном мире</h2>
            <h3 class="game-data-release">Дата выхода: <span id="year">конец 2024</span></h3>
        </div>
    </body>

    <footer class="footer">
        © PocketDung 2024
    </footer>

</html>